@{
    ViewData["Title"] = "Home Page";
}
@model (List<ProductViewModel> Products, List<CategoryViewModel> Categories)
<section class="hero" id="hero">
    @Html.Partial("PartialViews/_Hero.cshtml")
</section>

<section class="quick__categories" id="quick__categories">
    <div class="quick__categories__header">
        <h3 class="quick__categories__header-text">Categories for you</h3>
        <a asp-action="Search"  asp-controller="Home">
            <p>
                View All
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>
        </a>
    </div>
    <div class="row">
        @{
            foreach (var item in Model.Categories.OrderBy(h => Guid.NewGuid().ToString()).Take(6))
            {
                <div class="col-lg-2 col-4 p-0">
                    <a asp-action="Search" asp-controller="Home" asp-route-productName="@item.Name" class="category__card">
                        <div class="category__card__image__container">
                            <img src="@item.PhotoStockUrl" class="category__card__image" />
                        </div>
                        <div class="category__card__body">
                            <h5 class="category__card__title">@item.Name</h5>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</section>
<section class="daily__promotions" id="daily__promotions">
    <div class="daily__promotions__header">
        <h3 class="daily__promotions__header-text">Daily Promotions</h3>
    </div>
    @if (Model.Products.Any())
    {
        <div class="row">
            @foreach (var item in Model.Products.OrderBy(h => Guid.NewGuid().ToString()).Take(4))
            {
                <div class="mb-4  col-lg-3 col-6">
                    <a asp-route-id="@item.Id" asp-action="Detail" asp-controller="Home" class="product__card">
                        <div class="product__card__image__container">
                            <img src="@item.MainPhotoStockUrl" class="product__card__image" />
                        </div>
                        <div class="product__card__body">
                            <h5 class="product__card__title">@item.Name</h5>
                            <h4 class="product__card__price">$@item.Price</h4>
                        </div>
                    </a>
                </div>
            }
        </div>
    }
</section>



<section class="recommended" id="recommended">
    <div class="recommended__header">
        <h3 class="recommended__header-text">You might like this</h3>
    </div>
    <div class="row">
        <div class="col-12 mb-md-4 col-lg-4">
            <a asp-action="Search" asp-controller="Home" asp-route-productName="sony">
                <div class="recommended__card">
                    <div class="recommended__card__body">
                        <p class="recommended__card__text">Everything for professional photography</p>
                    </div>
                    <div class="recommended__card__image__container">
                        <img src="~/images/recommended-image/sony.png" class="recommended__card__image" />
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 mb-4 col-lg-4">
            <a asp-action="Search" asp-controller="Home" asp-route-productName="samsung">
                <div class="recommended__card">
                    <div class="recommended__card__body">
                        <p class="recommended__card__text">Samsung smartphones</p>
                    </div>
                    <div class="recommended__card__image__container">
                        <img src="~/images/recommended-image/samsung.png" class="recommended__card__image" />
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 mb-4 col-lg-4">
            <a asp-action="Search" asp-controller="Home" asp-route-productName="xiaomi">
                <div class="recommended__card">
                    <div class="recommended__card__body">
                        <p class="recommended__card__text">Xiaomi watches</p>
                    </div>
                    <div class="recommended__card__image__container">
                        <img src="~/images/recommended-image/xiaomi.png" class="recommended__card__image" />
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="cooperate__brands">
    <div class="cooperate__brands__header">
        <h3 class="cooperate__brands__header-text">We cooperate with these brandss</h3>
    </div>
    <div class="row">
        <div class="col-2">
            <a asp-action="Search" asp-controller="Home" asp-route-productName="zara">
                <div class="cooperate__brand__image__container">
                    <img class="cooperate__brand__image" src="~/images/brands/zara.png" />
                </div>
            </a>
        </div>
        <div class="col-2">
            <a asp-action="Search" asp-controller="Home" asp-route-productName="xiaomi">
                <div class="cooperate__brand__image__container">
                    <img class="cooperate__brand__image" src="~/images/brands/xiaomi.png" />
                </div>
            </a>
        </div>
        <div class="col-2">
            <a asp-action="Search" asp-controller="Home" asp-route-productName="PlayStation">
                <div class="cooperate__brand__image__container">
                    <img class="cooperate__brand__image" src="~/images/brands/PlayStation.png" />
                </div>
            </a>
        </div>
        <div class="col-2">
            <a asp-action="Search" asp-controller="Home" asp-route-productName="tommy">
                <div class="cooperate__brand__image__container">
                    <img class="cooperate__brand__image" src="~/images/brands/Tommy_Hilfiger_Logo.png" />
                </div>
            </a>
        </div>
        <div class="col-2">
            <a asp-action="Search" asp-controller="Home" asp-route-productName="samsung">
                <div class="cooperate__brand__image__container">
                    <img class="cooperate__brand__image" src="~/images/brands/Samsung_Logo.png" />
                </div>
            </a>
        </div>
        <div class="col-2">
            <a asp-action="Search" asp-controller="Home" asp-route-productName="adidas">
                <div class="cooperate__brand__image__container">
                    <img class="cooperate__brand__image" src="~/images/brands/Adidas_Logo.png" />
                </div>
            </a>
        </div>
        <div class="col-2">
            <a asp-action="Search" asp-controller="Home" asp-route-productName="msi">
                <div class="cooperate__brand__image__container">
                    <img class="cooperate__brand__image" src="~/images/brands/msi.png" />
                </div>
            </a>
        </div>
        <div class="col-2">
            <a asp-action="Search" asp-controller="Home" asp-route-productName="apple">
                <div class="cooperate__brand__image__container">
                    <img class="cooperate__brand__image" src="~/images/brands/apple.png" />
                </div>
            </a>
        </div>
        <div class="col-2">
            <a asp-action="Search" asp-controller="Home" asp-route-productName="vivo">
                <div class="cooperate__brand__image__container">
                    <img class="cooperate__brand__image" src="~/images/brands/vivo.png" />
                </div>
            </a>
        </div>
        <div class="col-2">
            <a asp-action="Search" asp-controller="Home" asp-route-productName="nike">
                <div class="cooperate__brand__image__container">
                    <img class="cooperate__brand__image" src="~/images/brands/nike.png" />
                </div>
            </a>
        </div>
        <div class="col-2">
            <a asp-action="Search" asp-controller="Home" asp-route-productName="ikea">
                <div class="cooperate__brand__image__container">
                    <img class="cooperate__brand__image" src="~/images/brands/ikea.png" />
                </div>
            </a>
        </div>
        <div class="col-2">
            <a asp-action="Search" asp-controller="Home" asp-route-productName="xbox">
                <div class="cooperate__brand__image__container">
                    <img class="cooperate__brand__image" src="~/images/brands/xbox.png" />
                </div>
            </a>
        </div>
    </div>
</section>