@{
    ViewData["Title"] = "Search";
}
@model (List<ProductViewModel> Products, List<CategoryViewModel> Categories)

<section class="search" id="search">
    <div class="row">
        <div class="col-2 categories">
            <ul class="category__list">
                @foreach (var item in Model.Categories)
                {
                <li class="category__list__item"><a asp-action="Search" asp-controller="Home" asp-route-productName="@item.Name">@item.Name</a></li>
               
                }
             @*   <li class="category__list__item"><a asp-action="Search" asp-controller="Home" asp-route-productName="Shoes">Shoes</a></li>
                <li class="category__list__item"><a asp-action="Search" asp-controller="Home" asp-route-productName="Sports and leisure">Sports and leisure</a></li>
                <li class="category__list__item"><a asp-action="Search" asp-controller="Home" asp-route-productName="Auto products">Auto products</a></li>
                <li class="category__list__item"><a asp-action="Search" asp-controller="Home" asp-route-productName="Laptop">Laptop</a></li>
                <li class="category__list__item"><a asp-action="Search" asp-controller="Home" asp-route-productName="Music and Video">Music and Video</a></li>
                <li class="category__list__item"><a asp-action="Search" asp-controller="Home" asp-route-productName="Accessories">Accessories</a></li>
                <li class="category__list__item"><a asp-action="Search" asp-controller="Home" asp-route-productName="For kids">For kids</a></li>
                <li class="category__list__item"><a asp-action="Search" asp-controller="Home" asp-route-productName="Home and garden">Home and garden</a></li>
                <li class="category__list__item"><a asp-action="Search" asp-controller="Home" asp-route-productName="Lighting">Lighting</a></li>
                <li class="category__list__item"><a asp-action="Search" asp-controller="Home" asp-route-productName="Bag">Bag</a></li>*@
            </ul>
        </div>
        <div class="col-10">
            <div class="product__list">
                <div class="row">
                    @foreach (var item in Model.Products)
                    {
                        <div class="col-4 mb-4 d-flex justify-content-center">
                            <a asp-route-id="@item.Id" asp-action="Detail" asp-controller="Home" class="product__card">
                                <div class="product__card__image__container">
                                    <img src="@item.MainPhotoStockUrl" class="product__card__image" />
                                </div>
                                <div class="product__card__body">
                                    <h5 class="product__card__title">@item.Name</h5>
                                    <h4 class="product__card__price">$@item.Price</h4>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>